//colors
$color_bg_1: #eff0f2;
$color_bg_2: #f8fafa;
$color_bg_4: #f9fbfb;
$color_bg_footer: #262b2e;

$color_blue: #6eeee4;
$color_lighten_grey: #eff0f2;
$color_light_grey: #eaebed;
$color_dark_grey: #515150;
$color_darker_gray: #262b2e;

